<div class="container">
  <div class="col-md-12" *ngIf="currentUser">
    <br />
    <h3 class="headline text-center">Informacje o wydarzeniu</h3>
    <div class="row" *ngIf="event.IS_ARCHIVE == false">
      <div class="col-md-4">
        <div class="block-ev yes" *ngIf="event.IS_ACCEPTED == true" (click)="revokeAcceptEvent(event)">
          Zaakceptowane
        </div>
        <div class="block-ev no" *ngIf="event.IS_ACCEPTED == false" (click)="acceptEvent(event)">
          Zaakceptowane
        </div>
      </div>
      <div class="col-md-4">
        <div class="block-ev yes" *ngIf="event.IS_IMPORTANT == true" (click)="revokeImportantEvent(event)">
          Ważne
        </div>
        <div class="block-ev no" *ngIf="event.IS_IMPORTANT == false" (click)="importantEvent(event)">
          Ważne
        </div>
      </div>
      <div class="col-md-4">
        <div class="block-ev yes" *ngIf="event.IS_PRIVATE == true" (click)="revokePrivateEvent(event)">
          Prywatne
        </div>
        <div class="block-ev no" *ngIf="event.IS_PRIVATE == false" (click)="privateEvent(event)">
          Prywatne
        </div>
      </div>
    </div>
    <div class="row" *ngIf="event.IS_ARCHIVE == true">
      <div class="col-md-12">
        <div class="block-ev yes">
          Zarchiwizowane
        </div>
      </div>
    </div>
    <br /><br />
    <form class="form-horizontal login-form" name="form" #formRef="ngForm" novalidate="true" (ngSubmit)="save(formRef.valid, userForm, event)">
    <div class="text-right">
      <span class="btn btn-default" (click)="editToggle=!editToggle">Edytuj wydarzenie</span>
    </div>
    <br />
    <div class="row">
      <div class="col-md-4 padding-top-bottom">
        <b>Nazwa:</b>
      </div>
      <div class="col-md-8">
        <span *ngIf="!editToggle" class="padding-top-bottom">{{event.NAME}}</span>
        <span *ngIf="editToggle">
          <input 
              type="text" 
              class="form-control" 
              name="NAME"
              class="form-control"
              #passwordRef="ngModel"
              [(ngModel)]="userForm.NAME"
          >
        </span>
      </div>
    </div>
    <hr class="dashed-hr" />
    <div class="row">
      <div class="col-md-4 padding-top-bottom">
        <b>Miejsce:</b>
      </div>
      <div class="col-md-8">
        <span *ngIf="!editToggle" class="padding-top-bottom">{{event.PLACE}}</span>
        <span *ngIf="editToggle">
          <input 
              type="text" 
              class="form-control" 
              name="PLACE"
              class="form-control"
              #passwordRef="ngModel"
              [(ngModel)]="userForm.PLACE"
          >
        </span>
      </div>
    </div>
    <hr class="dashed-hr" />
    <div class="row">
      <div class="col-md-4 padding-top-bottom">
        <b>Typ:</b>
      </div>
      <div class="col-md-8">
        <span *ngIf="!editToggle" class="padding-top-bottom">{{event.TYPE}}</span>
        <span *ngIf="editToggle">
          <select class="form-control" [(ngModel)]="userForm.TYPE" name="TYPE" >
                <option *ngFor="let category of categories" [value]="category.name" [selected]="event.TYPE">{{category.name}}</option>                
            </select>
        </span>
      </div>
    </div>
    <hr class="dashed-hr" />
    <div class="row">
      <div class="col-md-4 padding-top-bottom">
        <b>Data:</b>
      </div>
      <div class="col-md-8">
        <span *ngIf="!editToggle" class="padding-top-bottom">{{event.START_DATE}}</span>
        <span *ngIf="editToggle">
          <input 
              type="text" 
              class="form-control" 
              name="START_DATE"
              class="form-control"
              #passwordRef="ngModel"
              [(ngModel)]="userForm.START_DATE"
          >
        </span>
      </div>
    </div>
    <hr class="dashed-hr" />
    <div class="row">
      <div class="col-md-4 padding-top-bottom">
        <b>Godzina rozpoczęcia:</b>
      </div>
      <div class="col-md-8">
        <span *ngIf="!editToggle" class="padding-top-bottom">{{event.START_HOUR}}</span>
        <span *ngIf="editToggle">
          <input 
              type="text" 
              class="form-control" 
              name="START_HOUR"
              class="form-control"
              #passwordRef="ngModel"
              [(ngModel)]="userForm.START_HOUR"
          >
        </span>
      </div>
    </div>
    <hr class="dashed-hr" />
    <div class="row">
      <div class="col-md-4 padding-top-bottom">
        <b>Godzina zakończenia:</b>
      </div>
      <div class="col-md-8">
        <span *ngIf="!editToggle" class="padding-top-bottom">{{event.END_HOUR}}</span>
        <span *ngIf="editToggle">
          <input 
              type="text" 
              class="form-control" 
              name="END_HOUR"
              class="form-control"
              #passwordRef="ngModel"
              [(ngModel)]="userForm.END_HOUR"
          >
        </span>
      </div>
    </div>
    <div *ngIf="editToggle" class="row">
      <div class="col-md-12 text-right">
        <div class="form-group clearfix">
          <br />
            <button 
                type="submit" 
                class="btn btn-default"
            >Zatwierdź zmiany</button>
          </div>           
      </div>
    </div>
    </form>
    <hr class="dashed-hr" />
    <br />
    <br />
    
    <h3 class="headline text-center">Informacje o tagach</h3>
    <div class="row">
      <div class="col-md-4">
        <b>Lista wszystkich tagów:</b>
      </div>
      <div class="col-md-8">
        <span *ngFor="let tag of event.TAGS" class="tags-list-item">{{tag.NAME}}</span>
      </div>
    </div>
    <hr class="dashed-hr" />
    <div class="row">
      <div class="col-md-4">
        <b>Dodaj tagi do wydarzenia:</b>
      </div>
      <div class="col-md-6">
        <span *ngFor="let option of tags">
            <input  id="{{option.ID}}" name="Checks" type="checkbox" 
                    value="{{option.value}}" [(ngModel)]="option.checked" >
            <label for="{{option.ID}}">{{option.NAME}}</label>
        </span>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-success full-button" (click)="addTags(event,tags)">Dodaj</button>
      </div>
    </div>
    <hr class="dashed-hr" />
    <div class="row">
      <div class="col-md-4">
        <b>Usuń tagi z wydarzenia:</b>
      </div>
      <div class="col-md-6">
        <span *ngFor="let option of event.TAGS" class="delete-tags">
            <input  id="{{option.ID}}" name="Checks2" type="checkbox" 
                    value="{{option.value}}" [(ngModel)]="option.checked" >
            <label for="{{option.ID}}">{{option.NAME}}</label>
        </span>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-success full-button" (click)="removeTags(event,tags)">Usuń</button>
      </div>
    </div>
    <br />
    <br />
  </div>
  <div class="col-md-12" *ngIf="!currentUser">
    <br /><br />     
    <div class="alert alert-warning" role="alert">
      <strong> Upps...</strong> Nie masz uprawnień, by zobaczyć tę stronę. Zaloguj się!
    </div>
    <br />
  </div>
</div>