<div class="container">
  <div class="col-md-12" *ngIf="currentUser">
    <br />
    <h3 class="headline2 text-center">Dodaj nowy tag</h3>
    <form #formRef="ngForm" novalidate="true" (ngSubmit)="newTag(formRef.valid, createTag)">
      <input 
        type="text" 
        class="form-control add-tag-input" 
        name="tagname" 
        placeholder="Nazwa taga"
        #nameRef="ngModel"
        required
        pattern="[a-zA-ZąćęłńóśżźĄĆĘŁŃÓŚŻŹ]+"
        minlength="3"
        [(ngModel)]="createTag.NAME"
      />
      <div class="error-validation">
          <div *ngIf="(nameRef.errors?.required) && (!formRef.untouched)" class="text-danger">To pole jest wymagane</div>  
          <div *ngIf="(nameRef.errors?.pattern)" class="text-danger">Nazwa może zawierać jedynie litery</div>
          <div *ngIf="(nameRef.errors?.minlength)" class="text-danger">Miminalna długość nazwy to 3 znaki</div>
      </div>
      <div class="text-right">
        <button 
            type="submit" 
            class="btn btn-default add-tag-button"
        >Dodaj nowy tag +</button>
      </div>
    </form>
    <hr />
    <div class="alert alert-warning alert-dismissible" *ngIf="!admin">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Uwaga!</strong> Nie posiadasz roli Administratora.
        Oznacza to, że nie możesz akceptować tagów, usuwać ich ani ich edytować.
        Jeśli dodałeś tag, poczekaj aż Administrator zaakceptuje go jako publiczny.
    </div>
    <h3 class="headline2 text-center">Lista tagów</h3>
    <table class="table">
      <tr>
        <th>Nazwa</th>
        <th width="20%" class="text-center">Czy zaakceptowany?</th>
        <th width="10%" class="text-center" *ngIf="admin">Usuń</th>
      </tr>
      <tbody *ngFor="let tag of tags">
        <tr>
          <td>
            <span *ngIf="(info != tag.NAME) && admin" class="tag-name">
              <inline-editor 
                type="text" 
                [(ngModel)]="tag.NAME" 
                (onSave)="changeName($event, tag)" 
                name="editableText1"
                #nameEditRef="ngModel"
                size="50"
                minlength="3"
                pattern="[a-zA-ZąćęłńóśżźĄĆĘŁŃÓŚŻŹ]+"
              ></inline-editor>
              <div class="error-validation">
                  <div *ngIf="(nameEditRef.errors?.required)" class="text-danger">To pole jest wymagane</div>  
                  <div *ngIf="(nameEditRef.errors?.pattern)" class="text-danger">Nazwa może zawierać jedynie litery</div>
                  <div *ngIf="(nameEditRef.errors?.minlength)" class="text-danger">Miminalna długość nazwy to 3 znaki</div>
              </div>
            </span>
            <span *ngIf="!admin">{{tag.NAME}}</span>
          </td>
          <td class="text-center">
            <span *ngIf="((tag.IS_ACCEPTED==true) && admin)" class="yes" (click)="rejectTag(tag)">TAK</span>
            <span *ngIf="((tag.IS_ACCEPTED==false) && admin)" class="no" (click)="acceptTag(tag)" >NIE</span>
            <span *ngIf="((tag.IS_ACCEPTED==true) && !admin)" class="yes noclick">TAK</span>
            <span *ngIf="((tag.IS_ACCEPTED==false) && !admin)" class="no noclick">NIE</span>
          </td>
          <td class="text-center" *ngIf="admin">
            <span class="remove-info" (click)="removeTag(tag)">x</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12" *ngIf="!currentUser">
    <br /><br />     
    <div class="alert alert-warning" role="alert">
      <strong> Upps...</strong> Nie masz uprawnień, by zobaczyć tę stronę. Zaloguj się!
    </div>
    <br />
  </div>
</div>