<div class="container">
  <div class="col-md-12" *ngIf="currentUser">
    <br />
    <div class="text-xs-right">
      <form #formRef="ngForm" novalidate="true" (ngSubmit)="newTag(formRef.valid, createTag)">
        <input type="text" class="form-control add-tag-input" name="tagname" [(ngModel)]="createTag.NAME" />
        <button 
            type="submit" 
            class="btn btn-default"
        >Dodaj nowy tag +</button>
      </form>
    </div>
    <h3 class="headline text-md-center">Lista wszystkich tagów</h3>
    <table class="table">
      <tr>
        <th>Nazwa</th>
        <th width="20%" class="text-xs-center">Czy zaakceptowany?</th>
        <th width="10%"></th>
      </tr>
      <tbody *ngFor="let tag of tags">
        <tr>
          <td>
            <span *ngIf="info != tag.NAME">{{tag.NAME}}</span>
            <input *ngIf="info === tag.NAME" class="form-control edit-tag" [(ngModel)]="newName" />
          </td>
          <td class="text-xs-center">
            <span *ngIf="tag.IS_ACCEPTED==true" class="yes" (click)="rejectTag(tag)">TAK</span>
            <span *ngIf="tag.IS_ACCEPTED==false" class="no" (click)="acceptTag(tag)" >NIE</span>
          </td>
          <td>
            <span class="add-info" *ngIf="info != tag.NAME" (click)="info = tag.NAME">i</span>
            <span class="success-info" *ngIf="info === tag.NAME" (click)="changeName(newName, tag)"></span>
            <span class="remove-info" (click)="removeTag(tag)">x</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12" *ngIf="!currentUser">
    <br /><br />     
    <div class="alert alert-warning" role="alert">
      <strong> Upps...</strong> Nie masz uprawnień, by zobaczyć tę stronę. Zaloguj się!
    </div>
    <br />
  </div>
</div>