.roles span + span:before {
    content: ",";
}
.add-info {
    border-radius: 50%;
    border: 1px solid #6dabbf;
    color: #6dabbf;
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.success-info {
    border-radius: 50%;
    border: 1px solid #689600;
    color: #689600;
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.success-info:before {content:'\2713';}
.remove-info {
    border-radius: 50%;
    border: 1px solid #e40404;
    color: #e40404;
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.table tbody + tbody {
    border-top: 0;
}
.table.table-user-info td  {
    border-top: 0;
    border-bottom: 1px dashed #d8d8d8;
}
.add-tag-input {
    width: 200px;
    display: inline-block;
    height: 32px;
    position: relative;
    top: 1px;
}
.edit-tag {
    height: 25px;
}
.yes {
    color: #689600;
    cursor: pointer;
    text-transform: uppercase;
}
.no {
    color: #e40404;
    cursor: pointer;
    text-transform: uppercase;
}
.open-tags {
    color: #0076de;
    cursor: pointer;
    text-transform: uppercase;
}
.no:hover,
.yes:hover,
.open-tags:hover {
    text-decoration: underline;
}
.btn.btn-default.light-button {
    background: transparent;
    color: #ff5733; 
    margin-bottom: 5px;
}
.btn.btn-default.light-button:hover {
    background: #ff5733;
    color: #fff; 
}
.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #eee;
}
.dot.laboratorium-dot {
    background: #00c2f1;
}
.dot.cwiczenia-dot {
    background: #000b9c;
}
.dot.projekt-dot {
    background: #ffcc0c;
}
.dot.zaliczenie-dot {
    background: #f10062;
}
.dot.wyklady-dot {
    background: #00eacc;
}
.dot.inne-dot {
    background: #c5ea00;
}
.typesLegend {
    font-size: 0;
}
.typesLegend > div {
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    width: 16.66%;
    text-align: center;
}
.typesLegend .dot {
    margin: 5px auto;
}
.dashed-hr {
    border-style: dashed;
}
 
input[type="checkbox"] {
    opacity: 0;
    display: none;
}
input[type="checkbox"] + label {
    cursor: pointer;
    padding: 4px 10px;
    border: 1px solid #689600;
    background: #fff;
    color: #878787;
    border-radius: 3px;
}
input[type="checkbox"]:checked + label {
    background: #689600;
    border: 1px solid #689600;
    color: white;
}

.delete-tags input[type="checkbox"] + label {
    border: 1px solid #e40404;
}
.delete-tags input[type="checkbox"]:checked + label {
    background: #e40404;
    border: 1px solid #e40404;
}
.full-button {
    width: 100%;
}
.tags-list-item {
    padding: 6px 10px;
    border: 1px solid #878787;
    background: #fff;
    color: #878787;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 5px;
}
.tags-list-item + .tags-list-item {
    margin-left: 5px;
}
.event-dot-icons {
    position: relative;
}
.important-icon {
    position: absolute;
    top: 0;
    right: 30px;
}
.private-icon {
    position: absolute;
    top: 0;
    right: 0;
}
.error-validation > div {
    font-size: 13px;
    margin-top: 5px;
}