<div class="container">
  <div class="col-md-12" *ngIf="currentUser">
    <br />
    <div class="row">
      <div class="col-md-3">
        <button 
            class="btn btn-default"
            (click)="toggleCreate=!toggleCreate"
            *ngIf="!toggleCreate"
        >Nowe wydarzenie +</button>
      </div>
      <div class="col-md-9">
        <div class="text-right">
          <button 
              class="btn btn-default"
              (click)="toggleCreate=!toggleCreate"
              *ngIf="toggleCreate"
          >Anuluj</button>
          <button 
            class="btn btn-default light-button"
            (click)="getActiveEvents()"
            *ngIf="!toggleCreate"
          >Zaakceptowane</button>
          <button 
            class="btn btn-default light-button"
            (click)="getNonAcceptedEvents()"
            *ngIf="!toggleCreate && !admin"
          >Niezaakceptowane</button>
          <button 
            class="btn btn-default light-button"
            (click)="getNonAcceptedEventsAdmin()"
            *ngIf="!toggleCreate  && admin"
          >Niezaakceptowane</button>
          <button 
            class="btn btn-default light-button"
            (click)="getPastEvents()"
            *ngIf="!toggleCreate"
          >Przeszłe</button>
          <button 
              class="btn btn-default light-button"
              (click)="getArchiveEvents()"
              *ngIf="!toggleCreate"
          >Archiwum</button>          
      </div>
      </div>
    </div>
    
    <br />
    
    <div *ngIf="toggleCreate">
      <br />
      <form #formRef="ngForm" novalidate="true" (ngSubmit)="newEvent(formRef.valid, createEvent)" class="row">
        <div class="form-group clearfix">
          <label class="col-xs-2 control-label">Nazwa</label>
          <div class="col-xs-10">
              <input 
                type="text" 
                class="form-control" 
                name="eventname" 
                #nameRef="ngModel"
                [(ngModel)]="createEvent.NAME" 
                required
                pattern="[a-zA-ZąćęłńóśżźĄĆĘŁŃÓŚŻŹ0-9 ,.]+"
                minlength="5"
              />
              <div class="error-validation">
                  <div *ngIf="(nameRef.errors?.required) && (!formRef.untouched)" class="text-danger">To pole jest wymagane</div>  
                  <div *ngIf="(nameRef.errors?.pattern)" class="text-danger">Nazwa może zawierać jedynie litery, cyfry, spacje, przecinki lub kropki.</div>
                  <div *ngIf="(nameRef.errors?.minlength)" class="text-danger">Miminalna długość nazwy eventu to 5 znaków</div>
              </div>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-xs-2 control-label">Miejsce</label>
          <div class="col-xs-10">
              <input 
                type="text" 
                class="form-control" 
                name="eventplace" 
                #placeRef="ngModel"
                [(ngModel)]="createEvent.PLACE" 
                required
                pattern="[a-zA-ZąćęłńóśżźĄĆĘŁŃÓŚŻŹ0-9 ,.]+"
                minlength="5"
              />
              <div class="error-validation">
                  <div *ngIf="(placeRef.errors?.required) && (!formRef.untouched)" class="text-danger">To pole jest wymagane</div>  
                  <div *ngIf="(placeRef.errors?.pattern)" class="text-danger">Nazwa może zawierać jedynie litery, cyfry, spacje, przecinki lub kropki.</div>
                  <div *ngIf="(placeRef.errors?.minlength)" class="text-danger">Miminalna długość nazwy miejsca to 5 znaków</div>
              </div>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-xs-2 control-label">Typ</label>
          <div class="col-xs-10">
              <select class="form-control" [(ngModel)]="createEvent.TYPE" name="eventtype" required>
                <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>                
              </select>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-xs-2 control-label">Data eventu</label>
          <div class="col-xs-10">
              <div class="form-group">
                  <div class="input-group">
                      <input class="form-control" 
                        a2e-datetimepicker
                        [date]="date"
                        [options]="a2eOptionsDate"
                        name="eventstartdate"
                        required
                        [(ngModel)]="createEvent.START_DATE"
                        (onChange)="dateChange($event)"
                      />
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
              </div>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-xs-2 control-label">Godzina rozpoczęcia</label>
          <div class="col-xs-10">
              <div class="form-group">
                  <div class="input-group">
                      <input class="form-control" 
                        a2e-datetimepicker
                        [date]="eventStart"
                        [options]="a2eOptionsTime"
                        required
                        name="eventstarthour"
                        [(ngModel)]="createEvent.START_HOUR"
                        (onChange)="starthourChange($event)"
                      />
                      <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                  </div>
              </div>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-xs-2 control-label">Godzina zakończenia</label>
          <div class="col-xs-10">
              <div class="form-group">
                  <div class="input-group">
                      <input class="form-control" 
                        a2e-datetimepicker
                        [date]="eventEnd"
                        [options]="a2eOptionsTime"
                        name="eventendhour"
                        required
                        [(ngModel)]="createEvent.END_HOUR"
                        (onChange)="endhourChange($event)"
                      />
                      <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                  </div>
              </div>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-xs-2 control-label">Prywatne</label>
          <div class="col-xs-10">
              <label>
                  <span class="custom-checkbox">
                    <input 
                      type="checkbox"
                      name="eventprivate" 
                      [(ngModel)]="createEvent.IS_PRIVATE" 
                    >
                    <span class="check-me"></span>
                  </span>
              </label>
          </div>
        </div>
        <div class="text-right col-xs-12">
          <button 
              type="submit" 
              class="btn btn-default"
          >Dodaj nowe wydarzenie</button>
        </div>
      </form>
      <br />
    </div>
    <div class="alert alert-success alert-dismissible" *ngIf="infoCreate && !toggleCreate">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Brawo!</strong> Twoje wydarzenie zostało dodane. Obecnie jego status to: "Niezaakceptowane".
      Przejdź do zakładki "Niezaakceptowane" i zaakceptuj je. 
      Jeśli zaś dodałeś wydarzenie publiczne, poczekaj, aż Administrator je zaakceptuje.
    </div>
    <div *ngIf="!toggleCreate" class="typesLegend">
      <div>
        <div class="dot laboratorium-dot"></div>
        <div>Laboratorium</div>
      </div>
      <div>
        <div class="dot cwiczenia-dot"></div>
        <div>Ćwiczenia</div>
      </div>
      <div>
        <div class="dot projekt-dot"></div>
        <div>Projekt</div>
      </div>
      <div>
        <div class="dot zaliczenie-dot"></div>
        <div>Zaliczenie</div>
      </div>
      <div>
        <div class="dot wyklady-dot"></div>
        <div>Wykłady</div>
      </div>
      <div>
        <div class="dot inne-dot"></div>
        <div>Inne</div>
      </div>
    </div>
    <br /><br />
    <h3 class="headline2 text-center" *ngIf="toggleActive && !toggleCreate">Lista zaakceptowanych wydarzeń</h3>
    <h3 class="headline2 text-center" *ngIf="toggleArchive && !toggleCreate">Lista archiwalnych wydarzeń</h3>
    <h3 class="headline2 text-center" *ngIf="togglePast && !toggleCreate">Lista przeszłych wydarzeń</h3>
    <h3 class="headline2 text-center" *ngIf="toggleNonAccepted && !toggleCreate">Lista niezaakceptowanych wydarzeń</h3>
    <tag-input *ngIf="toggleActive && !toggleCreate" [ngModel]="item" [secondaryPlaceholder] ="('Wyszukaj po tagach...')" (onAdd)="onAddTags($event)" (onRemove)="onRemoveTags($event)">
      <tag-input-dropdown [autocompleteItems]="items">
      </tag-input-dropdown>
    </tag-input>
    <br />
    <table class="table table-events" *ngIf="!toggleCreate">
      <tbody *ngFor="let event of events">
        <tr>
          <td class="event-dot-icons">
            <div *ngIf="event.TYPE=='Laboratorium'" class="dot laboratorium-dot"></div>
            <div *ngIf="event.TYPE=='Ćwiczenia'" class="dot cwiczenia-dot"></div>
            <div *ngIf="event.TYPE=='Projekt'" class="dot projekt-dot"></div>
            <div *ngIf="event.TYPE=='Zaliczenie'" class="dot zaliczenie-dot"></div>
            <div *ngIf="event.TYPE=='Wykłady'" class="dot wyklady-dot"></div>
            <div *ngIf="event.TYPE=='Inne'" class="dot inne-dot"></div>
          </td>
          <td class="event-stat-icons text-center" width="130px">
              <div class="important-icon" *ngIf="event.IS_IMPORTANT == true">
                  <img src="../assets/images/important.png">
                </div>
                <div class="private-icon" *ngIf="event.IS_PRIVATE == true">
                  <img src="../assets/images/lock.png">
                </div>
          </td>
          <td>
            <span>{{event.NAME}}</span>
          </td>
          <td>
            <span>{{event.PLACE}}</span>
          </td>
          <td>
            <span>{{event.START_DATE}}</span>
          </td>
          <td>
            <span>{{event.START_HOUR}} - {{event.END_HOUR}}</span>
          </td>
          <td>
            <span class="yes" *ngIf="togglePast" (click)="archiveEvent(event)">Zarchiwizuj</span>
            <span class="yes" *ngIf="toggleNonAccepted" (click)="acceptEvent(event)">Zaakceptuj</span>
          </td>
          <td *ngIf="toggleActive">
            <span class="yes"  [routerLink]="['/event-details', event.ID]">Więcej</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12" *ngIf="!currentUser">
    <br /><br />     
    <div class="alert alert-warning" role="alert">
      <strong> Upps...</strong> Nie masz uprawnień, by zobaczyć tę stronę. Zaloguj się!
    </div>
    <br />
  </div>
</div>