.roles span + span:before {
    content: ",";
}
.add-info {
    border-radius: 50%;
    border: 1px solid #6dabbf;
    color: #6dabbf;
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.success-info {
    border-radius: 50%;
    border: 1px solid #689600;
    color: #689600;
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.success-info:before {content:'\2713';}
.remove-info {
    border-radius: 50%;
    border: 1px solid #e40404;
    color: #e40404;
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.table tbody + tbody {
    border-top: 0;
}
.table.table-user-info td  {
    border-top: 0;
    border-bottom: 1px dashed #d8d8d8;
}
.add-tag-input {
    width: 200px;
    display: inline-block;
    height: 32px;
    position: relative;
    top: 1px;
}
.edit-tag {
    height: 25px;
}
.yes {
    color: #689600;
    cursor: pointer;
    text-transform: uppercase;
}
.no {
    color: #e40404;
    cursor: pointer;
}
.no:hover,
.yes:hover  {
    text-decoration: underline;
}
.btn.btn-default.light-button {
    background: transparent;
    color: #ff5733; 
}
.btn.btn-default.light-button:hover {
    background: #ff5733;
    color: #fff; 
}
.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #eee;
}
.dot.laboratorium-dot {
    background: #00c2f1;
}
.dot.cwiczenia-dot {
    background: #000b9c;
}
.dot.projekt-dot {
    background: #ffcc0c;
}
.dot.zaliczenie-dot {
    background: #f10062;
}
.dot.wyklady-dot {
    background: #00eacc;
}
.dot.inne-dot {
    background: #c5ea00;
}
.typesLegend {
    font-size: 0;
}
.typesLegend > div {
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    width: 16.66%;
    text-align: center;
}
.typesLegend .dot {
    margin: 5px auto;
}