<div class="container">
  <div class="col-md-12" *ngIf="currentUser">
    <br />
    <div class="row">
      <div class="col-md-4 col-sm-8 col-xs-12">
        <div class="my-image text-center">
          <img src="../assets/images/sample_user.png" class="img-fluid avatar-image" *ngIf="myinfo.AVATAR =='' || myinfo.AVATAR =='data:image/png;base64,' ">
          <img src="{{myinfo.AVATAR}}" class="img-fluid avatar-image" *ngIf="myinfo.AVATAR !='' && myinfo.AVATAR !='data:image/png;base64,' ">
        </div>
        <div>
          <ul class="action-list">
            <li>
              <a href="/my-account">O mnie</a>
            </li>
            <li>
              <a href="/change-password">Zmiana hasła</a>
            </li>
            <li>
              <a href="/edit-account">Edycja profilu</a>              
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <h3 class="headline2 text-center">Zmiana hasła</h3>
        <form class="form-horizontal login-form" name="form" #formRef="ngForm" novalidate="true" (ngSubmit)="save(formRef.valid, userForm)">
              <div class="alert alert-danger alert-dismissible" *ngIf="formSubmit==1">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Błąd!</strong> Podałeś błędne dane.
              </div>
              <div class="alert alert-success alert-dismissible" *ngIf="formSubmit==2">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Brawo!</strong> Twoje hasło zostało zmienione.
              </div>
               <div class="form-group clearfix">
                  <label for="inputPassword" class="col-xs-2 control-label">Stare hasło</label>
                  <div class="col-xs-10">
                      <input 
                          type="password" 
                          class="form-control" 
                          name="old_password" 
                          placeholder="Password"
                          class="form-control"
                          #passwordRef="ngModel"
                          [(ngModel)]="userForm.OLD_PASSWORD"
                      >
                  </div>
                </div>
                 <div class="form-group clearfix">
                  <label for="inputPassword" class="col-xs-2 control-label">Nowe hasło</label>
                  <div class="col-xs-10">
                      <input 
                          type="password" 
                          class="form-control" 
                          name="new-password" 
                          placeholder="Password"
                          class="form-control"
                          #passwordRef="ngModel"
                          [(ngModel)]="userForm.NEW_PASSWORD"
                      >
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label for="inputPassword" class="col-xs-2 control-label">Potwierdź nowe hasło</label>
                  <div class="col-xs-10">
                      <input 
                          type="password" 
                          class="form-control" 
                          name="confirm-password" 
                          placeholder="Password"
                          class="form-control"
                          #passwordRef="ngModel"
                          [(ngModel)]="userForm.NEW_PASSWORD_CONFIRM"
                      >
                  </div>
                </div>
                <div class="form-group clearfix">
                  <div class="col-xs-12 text-right">
                    <button 
                        type="submit" 
                        class="btn btn-default"
                    >Zatwierdź zmiany</button>
                  </div>
                </div>
            </form>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="!currentUser">
    <br /><br />     
    <div class="alert alert-warning" role="alert">
      <strong> Upps...</strong> Nie masz uprawnień, by zobaczyć tę stronę. Zaloguj się!
    </div>
    <br />
  </div>
</div>