<div class="container">
  <div class="col-md-12" *ngIf="currentUser">
    <br />
    <div class="row">
      <div class="col-md-4 col-sm-8 col-xs-12">
        <div class="my-image text-center">
            <img src="../assets/images/sample_user.png" class="img-fluid avatar-image" *ngIf="myinfo.AVATAR =='' || myinfo.AVATAR =='data:image/png;base64,' ">
            <img src="{{myinfo.AVATAR}}" class="img-fluid avatar-image" *ngIf="myinfo.AVATAR !='' && myinfo.AVATAR !='data:image/png;base64,' ">
        </div>
        <div>
          <ul class="action-list">
            <li>
              <a href="/my-account">O mnie</a>
            </li>
            <li>
              <a href="/change-password">Zmiana hasła</a>
            </li>
            <li>
              <a href="/edit-account">Edycja profilu</a>              
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <h3 class="headline2 text-center">Edycja profilu</h3>
        <div class="clearfix">
            <div class="input-file-wrapper">
                <label for="filePicker"><i class="fa fa-download" aria-hidden="true"></i>{{ nameOfFile }}</label>
                <input type="file" id="filePicker" (change)="handleFileSelect($event)">
            </div>
        </div>
        <form class="form-horizontal login-form" name="form" #formRef="ngForm" novalidate="true" (ngSubmit)="save(formRef.valid, userForm)">
              <div class="alert alert-danger alert-dismissible" *ngIf="formSubmit==1">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Błąd!</strong> Podałeś błędne dane.
              </div>
              <div class="alert alert-success alert-dismissible" *ngIf="formSubmit==2">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Brawo!</strong> Twoje konto zostało edytowane.
              </div>
              <div class="form-group clearfix">
                  <label for="inputPassword" class="col-xs-3 control-label">Imię</label>
                  <div class="col-xs-9">
                      <input 
                          type="text" 
                          class="form-control" 
                          name="NAME" 
                          placeholder="Jan"
                          class="form-control"
                          #nameRef="ngModel"
                          [(ngModel)]="userForm.NAME"
                          required
                          pattern="[a-zA-ZąćęłńóśżźĄĆĘŁŃÓŚŻŹ]+"
                          minlength="3"
                      >
                      <div class="error-validation">
                          <div *ngIf="(nameRef.errors?.required) && (!formRef.untouched)" class="text-danger">To pole jest wymagane</div>  
                          <div *ngIf="(nameRef.errors?.pattern)" class="text-danger">Imię może zawierać jedynie litery</div>
                          <div *ngIf="(nameRef.errors?.minlength)" class="text-danger">Miminalna długość imienia to 3 znaki</div>
                      </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label for="inputPassword" class="col-xs-3 control-label">Nazwisko</label>
                  <div class="col-xs-9">
                      <input 
                          type="text" 
                          class="form-control" 
                          name="SURNAME" 
                          placeholder="Kowalski"
                          class="form-control"
                          #surnameRef="ngModel"
                          [(ngModel)]="userForm.SURNAME"
                          required
                          pattern="[a-zA-ZąćęłńóśżźĄĆĘŁŃÓŚŻŹ]+"
                          minlength="3"
                      >
                      <div class="error-validation">
                          <div *ngIf="(surnameRef.errors?.required) && (!formRef.untouched)" class="text-danger">To pole jest wymagane</div>  
                          <div *ngIf="(surnameRef.errors?.pattern)" class="text-danger">Nazwisko może zawierać jedynie litery</div>
                          <div *ngIf="(surnameRef.errors?.minlength)" class="text-danger">Miminalna długość nazwiska to 3 znaki</div>
                      </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label for="inputPassword" class="col-xs-3 control-label">Email</label>
                  <div class="col-xs-9">
                      <input 
                          type="email" 
                          class="form-control" 
                          name="EMAIL" 
                          placeholder="jan.kowalski@student.pg.gda.pl"
                          class="form-control"
                          #emailRef="ngModel"
                          [(ngModel)]="userForm.EMAIL"
                          required
                          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                          minlength="5"
                      >
                      <div class="error-validation">
                          <div *ngIf="(emailRef.errors?.required) && (!formRef.untouched)" class="text-danger">To pole jest wymagane</div>  
                          <div *ngIf="(emailRef.errors?.pattern)" class="text-danger">Błędna struktura adresu email</div>
                          <div *ngIf="(emailRef.errors?.minlength)" class="text-danger">Miminalna długość adresu email to 5 znaków</div>
                      </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label for="inputPassword" class="col-xs-3 control-label">Grupa</label>
                  <div class="col-xs-9">
                      <input 
                          type="text" 
                          class="form-control" 
                          name="GROUP" 
                          placeholder="2"
                          class="form-control"
                          #groupRef="ngModel"
                          [(ngModel)]="userForm.GROUP"
                          required
                          pattern="[a-zA-ZąćęłńóśżźĄĆĘŁŃÓŚŻŹ0-9]+"
                          minlength="1"
                      >
                      <div class="error-validation">
                          <div *ngIf="(groupRef.errors?.required) && (!formRef.untouched)" class="text-danger">To pole jest wymagane</div>  
                          <div *ngIf="(groupRef.errors?.pattern)" class="text-danger">Nazwa grupy może zawierać jedynie cyfry i litery</div>
                          <div *ngIf="(groupRef.errors?.minlength)" class="text-danger">Miminalna długość nazwy grupy to 1 znak</div>
                      </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label for="inputPassword" class="col-xs-3 control-label">Numer indeksu</label>
                  <div class="col-xs-9">
                      <input 
                          type="text" 
                          class="form-control" 
                          name="INDEX_NUMBER" 
                          placeholder="100000"
                          class="form-control"
                          #indexnumberdRef="ngModel"
                          [(ngModel)]="userForm.INDEX_NUMBER"
                          required
                          pattern="[0-9]+"
                          minlength="5"
                      >
                      <div class="error-validation">
                          <div *ngIf="(indexnumberdRef.errors?.required) && (!formRef.untouched)" class="text-danger">To pole jest wymagane</div>  
                          <div *ngIf="(indexnumberdRef.errors?.pattern)" class="text-danger">Numer indeksu może zawierać jedynie cyfry</div>
                          <div *ngIf="(indexnumberdRef.errors?.minlength)" class="text-danger">Miminalna długość numeru indeksu to 5 znaków</div>
                      </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label for="inputPassword" class="col-xs-3 control-label">Rok rozpoczęcia</label>
                  <div class="col-xs-9">
                      <input 
                          type="text" 
                          class="form-control" 
                          name="START_YEAR" 
                          placeholder="2014"
                          class="form-control"
                          #startyearRef="ngModel"
                          [(ngModel)]="userForm.START_YEAR"
                          required
                          pattern="[0-9]{4}"
                          minlength="4"
                          maxlength="4"
                      >
                      <div class="error-validation">
                          <div *ngIf="(startyearRef.errors?.required) && (!formRef.untouched)" class="text-danger">To pole jest wymagane</div>  
                          <div *ngIf="(startyearRef.errors?.pattern)" class="text-danger">Rok rozpoczęcia może zawierać jedynie cyfry</div>
                          <div *ngIf="(startyearRef.errors?.minlength)" class="text-danger">Długość roku rozpoczęcia to 4 znaki</div>
                      </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label for="inputPassword" class="col-xs-3 control-label">O mnie...</label>
                  <div class="col-xs-9">
                      <input 
                          type="text" 
                          class="form-control" 
                          name="INFO" 
                          placeholder="Lubię koty"
                          class="form-control"
                          #infoRef="ngModel"
                          [(ngModel)]="userForm.INFO"
                          required
                          pattern="[a-zA-ZąćęłńóśżźĄĆĘŁŃÓŚŻŹ0-9 ,.]+"
                          minlength="3"
                      >
                      <div class="error-validation">
                          <div *ngIf="(infoRef.errors?.required) && (!formRef.untouched)" class="text-danger">To pole jest wymagane</div>  
                          <div *ngIf="(infoRef.errors?.pattern)" class="text-danger">Pole może zawierać jedynie litery, cyfry, spacje, przecinki lub kropki.</div>
                          <div *ngIf="(infoRef.errors?.minlength)" class="text-danger">Miminalna długość opisu to 3 znaki</div>
                      </div>
                  </div>
                </div>
                <hr />
                <div class="form-group clearfix">
                  <label for="inputPassword" class="col-xs-12 control-label">Wpisz hasło by potwierdzić zmiany</label>
                  <div class="col-xs-12">
                      <input 
                          type="password" 
                          class="form-control" 
                          name="PASSWORD" 
                          placeholder="Password"
                          class="form-control"
                          #passwordRef="ngModel"
                          [(ngModel)]="userForm.PASSWORD"
                      >
                  </div>
                </div>
                <hr />
                <div class="form-group clearfix">
                  <div class="col-xs-12 text-right">
                    <button 
                        type="submit" 
                        class="btn btn-default"
                    >Zatwierdź zmiany</button>
                  </div>
                </div>
            </form>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="!currentUser">
    <br /><br />     
    <div class="alert alert-warning" role="alert">
      <strong> Upps...</strong> Nie masz uprawnień, by zobaczyć tę stronę. Zaloguj się!
    </div>
    <br />
  </div>
</div>