<div id="content" class="clearfix">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form class="form-horizontal login-form" name="form" #formRef="ngForm" novalidate="true" (ngSubmit)="save(formRef.valid, userForm)">
                <div class="alert alert-danger alert-dismissible" *ngIf="formSubmit==1">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Błąd!</strong> Podałeś błędne dane logowania.
                </div>
                <div class="alert alert-success alert-dismissible" *ngIf="formSubmit==2">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Brawo!</strong> Wiadomość email z linkiem do zmiany hasła została wysłana.
                </div>
                <div class="form-group clearfix">
                    <div class="col-xs-12">
                        <input 
                            type="text" 
                            class="form-control" 
                            name="username" 
                            placeholder="Login" 
                            required="required"
                            #loginRef="ngModel"
                            [(ngModel)]="userForm.login"
                        >
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-xs-12 text-right">
                    <button 
                        type="submit" 
                        class="btn btn-default"
                    >Wyślij wiadomość z linkiem do zmiany hasła na adres e-mail powiązany z kontem</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>