<div class="container">
  <div class="col-md-12" *ngIf="currentUser">
    <br />
    <div *ngIf="admin">
      <h3 class="headline2 text-center">Dodaj nowe ogłoszenie</h3>
      <form #formRef="ngForm" novalidate="true" (ngSubmit)="newNews(formRef.valid, createNews)">
        <input 
          type="text" 
          class="form-control" 
          name="newsname" 
          placeholder="Nazwa"
          #nameRef="ngModel"
          required
          pattern="[a-zA-ZąćęłńóśżźĄĆĘŁŃÓŚŻŹ0-9 ,.]+"
          minlength="3"
          [(ngModel)]="createNews.TITLE"
        />
        <div class="error-validation">
          <div *ngIf="(nameRef.errors?.required) && (!formRef.untouched)" class="text-danger">To pole jest wymagane</div>  
          <div *ngIf="(nameRef.errors?.pattern)" class="text-danger">Nazwa może zawierać jedynie litery</div>
          <div *ngIf="(nameRef.errors?.minlength)" class="text-danger">Miminalna długość nazwy to 3 znaki</div>
        </div>
        <br />
        <textarea  
          class="form-control" 
          name="newscontent" 
          placeholder="Treść ogłoszenia"
          #contentRef="ngModel"
          required
          pattern="[a-zA-ZąćęłńóśżźĄĆĘŁŃÓŚŻŹ0-9 ,.]+"
          minlength="3"
          rows="3"
          [(ngModel)]="createNews.NOTIFICATION"
        ></textarea>
        <div class="error-validation">
            <div *ngIf="(contentRef.errors?.required) && (!formRef.untouched)" class="text-danger">To pole jest wymagane</div>  
            <div *ngIf="(contentRef.errors?.pattern)" class="text-danger">Nazwa może zawierać jedynie jedynie litery, cyfry, spacje, przecinki lub kropki.</div>
            <div *ngIf="(contentRef.errors?.minlength)" class="text-danger">Miminalna długość nazwy to 3 znaki</div>
        </div>
        <br />
        <div class="text-right">
          <button 
              type="submit" 
              class="btn btn-default add-tag-button"
          >Dodaj +</button>
        </div>
      </form>
      <hr />
    </div>
    <h3 class="headline2 text-center">Lista ogłoszeń</h3>
    <div *ngFor="let new of news.reverse()">
        <div class="alert alert-info" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" *ngIf="admin" (click)="removeNews(new)">&times;</button>
          <b>{{new.TITLE}}</b><br />
          {{new.NOTIFICATION}}
        </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="!currentUser">
    <br /><br />     
    <div class="alert alert-warning" role="alert">
      <strong> Upps...</strong> Nie masz uprawnień, by zobaczyć tę stronę. Zaloguj się!
    </div>
    <br />
  </div>
</div>