<div id="header" class="clearfix">
    <div class="header-bg">
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="header-banner text-xs-center">
                    <h1>Planit</h1>
                    <h3>zaplanuj swoje studia!</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="top1" class="clearfix">
    <div class="container">
        <div class="top-icons">
            <div class="col-md-3 col-sm-6 col-xs-12 icon-item">
                <p class="text-xs-center"><img src="../assets/images/01.png" /></p>
                <p class="text-xs-center">Wszystkie wydarzenia w jednym miejscu</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 icon-item">
                <p class="text-xs-center"><img src="../assets/images/02.png" /></p>
                <p class="text-xs-center">Customizacja własnego planu zajęć</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 icon-item">
                <p class="text-xs-center"><img src="../assets/images/03.png" /></p>
                <p class="text-xs-center">Informacje o grupie i wykładowcach</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 icon-item">
                <p class="text-xs-center"><img src="../assets/images/04.png" /></p>
                <p class="text-xs-center">Wydarzenia ogólne i własne</p>
            </div>
        </div>
    </div>
</div>
<div id="top2" class="clearfix">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3 class="headline text-xs-center">Czym jest planit?</h3>
            <p>
            Planit do aplikacja do zarządzania czasem studentów niestacjonarnych. 
            Jak wszyscy wiemy, niełatwo jest pogodzić pracę zawodową z nauką. 
            Należy dokładnie zorganizować czas, tak aby o niczym nie zapomnieć. 
            Dzięki tej aplikacji bez trudu Ty lub koledzy z roku umieścicie wydarzenia w kalendarzu, 
            dodacie do nich pomocne tagi lub własne eventy. 
            Sprawdź już dziś jakie to proste!
            </p>
        </div>
    </div>
</div>