/* fontface */
@font-face {
  font-family: 'Raleway';
  src: url("assets/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Raleway';
  src: url("assets/fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Sacramento';
  src: url("assets/fonts/Sacramento/Sacramento-Regular.ttf") format("truetype"); }

html {
  height: 100%;
  background: #55534e;
}

body {
  font-family: 'Raleway';
  color: #5c5c5c;
  font-size: 16px;
  font-weight: 300;
}

/* link */
a {
  color: #ff5733;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #900c3f;
  text-decoration: none;
}
a.custom-link {
  color: #5c5c5c;
  text-decoration: underline;
}
a.custom-link:hover, a.custom-link:focus, a.custom-link:active {
  color: #900c3f;
  text-decoration: underline; 
}
a.c-inline-editor {
  color: #5c5c5c;
}

/* buttons */
.btn {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  background: #ff5733;
  padding: 5px 15px;
  border: 1px solid #ff5733;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn:hover, .btn:active, .btn:focus {
  background: #ffffff;
  color: #ff5733; 
}
.btn.btn-primary {
  background: #689600;
  border-color: #689600;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  background: #ffffff;
  color: #689600; 
}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form-control:focus {
  border-color: #5c5c5c;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-horizontal.login-form {
  margin: 50px 0;
}

/* headline */
.headline {
  font-family: 'Sacramento';
  font-size: 30px;
  margin: 0 0 30px; }
.headline2 {
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #333333;
}
/* TOP BAR */
#top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 999;
  border-bottom: 1px solid #a8a8a8;
  padding: 5px 0;
}
#top-bar .logo a {
  display: block; 
}
#top-bar .logo a img {
  max-width: 70px; 
}
#top-bar .btn {
  font-size: 20px; 
}
#top-bar .menu {
  float: right;
  padding: 12px 0;
}
#top-bar .menu .btn, #top-bar .menu ul {
  display: inline-block;
}
#top-bar .menu ul {
  list-style: none;
  margin: 0;
}
#top-bar .menu ul li {
  display: inline-block; 
}
#top-bar .menu ul li a {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  color: #5c5c5c;
  padding: 5px 15px;
  text-decoration: none;
}
#top-bar .menu ul li a:hover {
  color: #ff5733; 
}
#top-bar .menu ul + .btn {
  margin-left: 15px; 
}
#top-bar .menu .btn {
  position: relative;
  top: -3px; 
}
#top-bar + .page-content {
  margin-top: 80px; 
}
#footer {
  padding: 15px 0;
  background: #55534e;
  color: #ffffff;
}
#footer p {
  margin: 0;
  font-size: 12.8px;
}
.bootstrap-datetimepicker-widget .btn {
  padding: 0 !important;
}
.bootstrap-datetimepicker-widget table td span.active,
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #ff5733;
}

.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: #ff5733;
}

.cal-month-view .cal-day-badge {
  display: none;
}

.cal-month-view .cal-day-number {
  margin: 15px 0;
  float: none;
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: transparent;
  vertical-align: middle;
  opacity: 1;
  line-height: 30px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #cccccc;
  color: #5a5a5a;
}

.cal-month-view .cal-day-cell,
.cal-month-view .cal-cell-top {
  min-height: 60px;
  text-align: center;
}

.cal-month-view .cal-day-cell.cal-today {
  background-color: transparent;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  position: relative;
  background: #ffa500;
  color: #ffffff;
  font-size: 12px;
  border: 1px solid #ffa500;
}

.cal-month-view .cal-day-cell.cal-weekend {
  background: #f8f8f8;
}

.cal-month-view .cal-month-view .cal-cell-row .cal-cell:hover, 
.cal-month-view .cal-cell.cal-has-events.cal-open {
  background-color: rgba(255, 165, 0, 0.11);
}

.cal-month-view .cal-events {
  margin: 5px 3px;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.cal-month-view .cal-header .cal-cell {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 10px;
  padding: 5px;
}

.cal-month-view .cal-event-title {
  color: #5a5a5a;
  text-decoration: none;
}

.cal-month-view .cal-open-day-events {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px dashed #ffa500;
  background-color: rgba(255, 165, 0, 0.11);
}

.cal-month-view .cal-open-day-events .cal-event {
  margin-right: 10px;
}

.cal-month-view .cal-open-day-events > div + div {
  margin-top: 5px;
}
.typesLegend {
  font-size: 0;
}
.typesLegend > div {
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  width: 16.66%;
  text-align: center;
}
.typesLegend .dot {
  margin: 5px auto;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #eee;
}
.dot.laboratorium-dot {
  background: #00c2f1;
}
.dot.cwiczenia-dot {
  background: #000b9c;
}
.dot.projekt-dot {
  background: #ffcc0c;
}
.dot.zaliczenie-dot {
  background: #f10062;
}
.dot.wyklady-dot {
  background: #00eacc;
}
.dot.inne-dot {
  background: #c5ea00;
}