<div class="container">
  <div class="col-md-12" *ngIf="currentUser">
    <br />
    <div class="row">
      <div class="col-md-4 col-sm-8 col-xs-12">
        <div class="my-image text-center">
          <img src="../assets/images/sample_user.png" class="img-fluid avatar-image" *ngIf="myinfo.AVATAR =='' || myinfo.AVATAR =='data:image/png;base64,' ">
          <img src="{{myinfo.AVATAR}}" class="img-fluid avatar-image" *ngIf="myinfo.AVATAR !='' && myinfo.AVATAR !='data:image/png;base64,' ">
        </div>
        <div>
          <ul class="action-list">
            <li>
              <a href="/my-account">O mnie</a>
            </li>
            <li>
              <a href="/change-password">Zmiana hasła</a>
            </li>
            <li>
              <a href="/edit-account">Edycja profilu</a>              
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <h3 class="headline2 text-center">Moje konto</h3>
        <table class="table about-me-table">
          <tr>
            <td>Login</td>
            <td>{{myinfo.LOGIN}}</td>
          </tr>
          <tr>
            <td>Numer indeksu</td>
            <td>{{myinfo.INDEX_NUMBER}}</td>
          </tr>
          <tr>
            <td>Rola</td>
            <td>
              <span *ngFor="let role of myinfo.ROLES">
                <span *ngIf="role.NAME=='ROLE_STUDENT'">Student</span>
                <span *ngIf="role.NAME=='ROLE_ADMIN'">Administrator</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>Imię</td>
            <td>{{myinfo.NAME}}</td>
          </tr>
          <tr>
            <td>Nazwisko</td>
            <td>{{myinfo.SURNAME}}</td>
          </tr>
          <tr>
            <td>Rok rozpoczęcia studiów</td>
            <td>{{myinfo.START_YEAR}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{myinfo.EMAIL}}</td>
          </tr>
          <tr>
            <td>Grupa</td>
            <td>{{myinfo.GROUP}}</td>
          </tr>
          <tr>
            <td>O sobie...</td>
            <td>{{myinfo.INFO}}</td>
          </tr>          
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="!currentUser">
    <br /><br />     
    <div class="alert alert-warning" role="alert">
      <strong> Upps...</strong> Nie masz uprawnień, by zobaczyć tę stronę. Zaloguj się!
    </div>
    <br />
  </div>
</div>